{
 :paths ["src", "resources", "test"]
 :deps {
        vvvvalvalval/scope-capture {:mvn/version "0.3.3"}
        org.clojure/tools.trace {:mvn/version "0.7.11"}
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.0"}}
 :aliases
 
 
 {:cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.12.0"}}
                 :main-opts ["-m" "cljfmt.main"]}
  :cider-clj {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                           cider/cider-nrepl {:mvn/version "0.50.0"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :cider-cljs {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                            org.clojure/clojurescript {:mvn/version "1.10.339"}
                            cider/cider-nrepl {:mvn/version "0.50.0"}
                            cider/piggieback {:mvn/version "0.5.2"}}
               :main-opts ["-m" "nrepl.cmdline" "--middleware"
                           "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}}}
